[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "nedyoxall.github.io"]
	path = output
	url = git://github.com/nedyoxall/nedyoxall.github.io.git
